.login-bg {
  background:linear-gradient(90deg, #2B6777 0%, #b6dde7 100%);
  padding: 40px 20px;
}

.info-panel {
  max-width: 400px;
  color: white;
  text-align: center;
}

.login-card {
  width: 100%;
  max-width: 420px;
  background-color: #ffffff;
  border-radius: 15px;
}

.login-image img {
  border-radius: 10px;
}

@media (max-width: 768px) {
  .info-panel {
    display: none;
  }

  .login-card {
    max-width: 100%;
  }
}
